<div class="page-header"><%= content_tag :h1, "Course Analysis" %></div>


<%= form_tag scheduler_course_analysis_path, :method => 'get', :class => 'form-inline' do %>
	<div class="well">
	    <strong>Filter by:</strong> 
	    &nbsp; Teacher: <%= select_tag :teacher, options_for_select(@teachers.collect { |teacher| [teacher.full_name, teacher.id] }, :selected => teacher), :include_blank => current_admin.admin?, :class => "span2" %>
	    &nbsp; Client: <%= select_tag :client, options_for_select(ClientGroup.all.collect { |client| [client.title, client.id] }, :selected => params[:client]), :include_blank => true, :class => "span2" %>
	    &nbsp; Start Date: <%= text_field_tag :start_date, params[:start_date], :class => "datepicker", :style => 'width:75px;' %>
	    &nbsp; End Date: <%= text_field_tag :end_date, end_date, :class => "datepicker", :style => 'width:75px;' %>
	    <hr>
		<%= hidden_field_tag :direction, params[:direction] %>
		<%= hidden_field_tag :sort, params[:sort] %>

		<%#= text_field_tag :search, params[:search], :class => "input-medium search-query", :placeholder => "search" %>
		<%= button_tag raw("<i class='icon-refresh icon-white'></i> Refresh"), :name => nil, :class => "btn btn-primary" %>
		<%= link_to "Reset", scheduler_course_analysis_path, :class => "btn" %>
		</div>	
<% end %>


<%= form_tag scheduler_course_analysis_path, :method => :post, :id => "bulk_action_form" do %>
<%= hidden_field_tag :bulk_action %>

<table class="table table-condensed table-striped">
<thead>
	<tr>
	  <th><%= sortable "courses.id", "ID" %></th>
	  <th><%= sortable "client_groups.title", "Client Group" %></th>
	  <th><%= sortable "start_date", "Start Date" %></th>
	  <th><%= sortable "end_date", "End Date" %></th>
	  <th><%= sortable "admins.id", "Teacher" %></th>
	  <th style="text-align:right;">Registrations</th>
	  <th style="text-align:right;">Gross</th>
	  <th style="text-align:right;">Payout</th>
	  <th style="text-align:right;">Net</th>
	</tr>	
</thead>

<tbody>
    <% @courses.each do |course| %>
    <tr>
        <td><span class="label">ID: <%= course.id %></span></td>
        <td><%= course.client_group.title %></td>
        <td><%= course.start_date.strftime('%m/%d/%Y') %></td>
        <td><%= course.end_date.strftime('%m/%d/%Y') %></td>
        
        <td><%= content_tag :span, course.teacher.first_name, :class => "label", :style => "background-color:##{course.teacher.color};color:black;" %></td>
        <td style="text-align:right;"><%= course.course_registrations.length %></td>
        <td style="text-align:right;"><%= number_to_currency(course.total_collected) %></td>
        <td style="text-align:right;"><%= number_to_currency(course.total_pay_out) %></td>
        <td style="text-align:right;"><%= content_tag :b, number_to_currency(course.net), :class => course.net < 0 ? "text-error" : "text-success" %></td>
    </tr>    
    <% end %>
</tbody>    
</table>

<% end %>