<%= render 'admin/shared/head_index', model_class: @model_class, no_filter: true %>

<%= form_tag sort_admin_pages_path, :method => :put do %>
<%= submit_tag "Update Sort Order", :class => "btn btn-primary", :style => "display:none;" %>
<h2>Navigation</h2>
<ul data-parent-id="" class="siteTree"> 
<% @nav_pages.each do |page| %>
  <%= render 'page', :page => page %>
<% end %>
</ul>
<% end %>


<br>
<hr>
<h2>Non-Navigational Pages</h2>
<ul data-path="<%= sort_admin_pages_path %>" class="siteTree"> 
<% @other_pages.each do |page| %>
  <%= render 'page', :page => page %>
<% end %>
</ul>


