<div class="page-header"><%= content_tag :h1, "Pay Out Details" %></div>

<ul class="breadcrumb">
	<li><%= link_to "Dashboard", scheduler_root_path %> <span class="divider">/</span></li>
	<li><%= link_to "Pay Outs", unpaid_scheduler_pay_outs_path %> <span class="divider">/</span></li>
	<li>Pay Out Details</li>
</ul>

<ul class="nav nav-tabs">
	<li><%= link_to raw("<i class='icon-th-list'></i> List"), unpaid_scheduler_pay_outs_path %></li>
</ul>

<div class="well">
    <%= form_for [:scheduler, @pay_out], :html => { :class => "form-horizontal" } do |f| %>
    <dl class="dl-horizontal">
        <dt>Payout Period</dt>
        <dd><%= @pay_out.start_date.strftime('%m/%d/%Y') %> - <%= @pay_out.end_date.strftime('%m/%d/%Y') %></dd>
        <dt>Teacher</dt>
        <dd><%= @pay_out.teacher.full_name %></dd>
        <dt>Calculated Amount</dt>
        <dd><%= number_to_currency(@pay_out.calculated_pay_out) %></dd>
        
        <% if current_admin.admin? && @pay_out.paid_date.blank? %>
            <dt>Adjustments</dt>
            <dd><%= f.text_field :adjustments %></dd>
        <% else %>
            <dt>Adjustments</dt>
            <dd><%= number_to_currency(@pay_out.adjustments) %></dd>
        <% end %>

        <dt>Total Amount</dt>
        <dd><%= number_to_currency(@pay_out.total_pay_out) %></dd>
        
        <% if current_admin.id == @pay_out.teacher.id && @pay_out.paid_date.blank? %>
            <dt>Amount Verified</dt>
            <dd><label class="checkbox"><%= f.check_box :teacher_approved %> <span class="text-info">Check here to approve pay out amount</span></dd>
        <% else %>
            <dt>Amount Verified</dt>
            <dd><%= boolean_show(@pay_out.teacher_approved?) %></dd>
        <% end %>
        
        
        <% if current_admin.admin? && @pay_out.teacher_approved? && @pay_out.paid_date.blank? %>
            <dt>Mark Paid</dt>
            <dd><%= f.check_box :mark_paid %> <%= @pay_out.paid_date %></dd>
        <% elsif !@pay_out.paid_date.blank? %> 
           <dt>Paid</dt>
           <dd><%= @pay_out.paid_date.strftime('%m/%d/%Y') %></dd>
        <% end %>
        
    </dl>   
    
    <% if @pay_out.paid_date.blank? %>
    <div class="form-actions">
        <%= f.submit :class => "btn"%>
    </div> 
    <% end %>    
    <% end %>
    
</div>    

   


<h3>Classes</h3>


<table class="table table-condensed table-striped">
<thead>
	<tr>
	  <th><%= sortable "event_date", "Date" %></th>
	  <th><%= sortable "event_date", "Time" %></th>
	  <th><%= sortable "client_groups.title", "Client Group" %></th>
	  <th><%= sortable "courses.id", "Course" %></th>
	  <th style="text-align:right;">Registered</th>
	  <th style="text-align:right;">Walkin</th>
	  <th style="text-align:right;">Pay Out</th>
	  <th></th>
	</tr>	
</thead>

<tbody>
	<% @events.each do |course_event| %>
	<tr>
		<td><%= course_event.event_date.strftime('%m/%d/%Y') %></td>
		<td><%= course_event.event_date.strftime('%I:%M%p') %></td>
		<td><%= course_event.course.client_group.title %></td>
		<td><span class="label">ID: <%= course_event.course.id %></span> <%= "#{course_event.course.default_title}" %>
		<td style="text-align:right;"><%= course_event.course_registrations.length %></td>
		<td style="text-align:right;"><%= course_event.walkins.length %></td>
		<td style="text-align:right;"><%= number_to_currency(course_event.total_pay_out) %></td>
		<td><%= link_to raw("<i class='icon-th-list'></i> Roster"), [:scheduler, course_event], :class => "btn btn-small"%></td>
	</tr>	
	<% end %>
</tbody>	

	
</table>