<%= content_tag :h1, "Your Course Registration is Confirmed!" %>
<p>This email is a confirmation that you are now registered for course: <br>
<%= content_tag :strong, @course.line_item_title %><br>
Time: <%= "#{@course.day.pluralize}" if @course.frequency == 'weekly' %> <%= "#{@course.start_time.strftime('%l:%M%p')} - #{@course.end_time.strftime('%l:%M%p')}" %>
</p>

<p style="align:center;">
<%= link_to image_tag("http://belightfulyoga.com/images/addToCalendar.png", :style => "width:193px;height:32px;border-width:0;"), ics_course_url(@course) %>
</p>

<p style="align:center;"><a href="http://www.facebook.com/belightfulyoga"><img src="http://www.belightfulyoga.com/assets/facebook_32.png" style="border:none;"></a></p>

<p>Thank you and we look forward to seeing you there!</p>