<td>
<% if f.object.walk_in? %>
    <%= f.text_field :paid, :value => f.object.paid, :class => "span2" %>
    <%= f.select :payment_type, options_for_select(['cash', 'check'], :selected => f.object.payment_type), {}, :class => "span2" %>
<% else%>
    <% registration = @course_event.course_registrations.find_by_user_id(f.object.attendable.id) %>
    <%= number_to_currency(registration.paid / @course_event.course.course_events.length) if !registration.nil? && current_admin.admin? %>
<% end %>


</td>
<td>
<%= f.hidden_field :course_event_id, :value => f.object.course_event_id %>
<%= f.hidden_field :attendable_type, :value => f.object.attendable_type %>
<%= f.hidden_field :attendable_id, :value => f.object.attendable_id %>
<%= f.check_box :attended %>
</td>