<div class="page-header"><%= content_tag :h1, "Classes" %></div>

<ul class="breadcrumb">
	<li><%= link_to "Dashboard", scheduler_root_path %> <span class="divider">/</span></li>
	<li>Class Lists <span class="divider">/</span></li>
</ul>

<ul class="nav nav-tabs">
	<li class="active"><%= link_to raw("<i class='icon-th-list'></i> List"), "" %></li>
	<%#= content_tag :li, link_to(raw("<i class='icon-plus'></i> Walk-in"), walkin_scheduler_course_event_path(@course_event)) %>

</ul>

<%= form_tag scheduler_course_events_path, :method => 'get', :class => 'form-inline' do %>
	<div class="well">
	    <strong>Filter by:</strong> 
	    &nbsp; Teacher: <%= select_tag :teacher, options_for_select(@teachers.order(:first_name).collect { |teacher| [teacher.full_name, teacher.id] }, :selected => teacher), :include_blank => current_admin.admin?, :class => "span2" %>
	    &nbsp; Client: <%= select_tag :client, options_for_select(ClientGroup.order(:title).collect { |client| [client.title, client.id] }, :selected => params[:client]), :include_blank => true, :class => "span2" %>
	    &nbsp; Start Date: <%= text_field_tag :start_date, start_date, :class => "datepicker", :style => 'width:75px;' %>
	    &nbsp; End Date: <%= text_field_tag :end_date, end_date, :class => "datepicker", :style => 'width:75px;' %>
	    <hr>
		<%= hidden_field_tag :direction, params[:direction] %>
		<%= hidden_field_tag :sort, params[:sort] %>

		<%#= text_field_tag :search, params[:search], :class => "input-medium search-query", :placeholder => "search" %>
		<%= button_tag raw("<i class='icon-refresh icon-white'></i> Refresh"), :name => nil, :class => "btn btn-primary" %>
		<%= link_to "Reset", scheduler_course_events_path, :class => "btn" %>
		</div>	
<% end %>


<%= form_tag bulk_actions_scheduler_course_events_path, :method => :post, :id => "bulk_action_form" do %>
<%= hidden_field_tag :bulk_action %>

<table class="table table-condensed table-striped">
<thead>
	<tr>
	  <th><%= check_box_tag "", "", false, :id => "select_all" %></th>
	  <th><%= sortable "event_date", "Date" %></th>
	  <th><%= sortable "event_date", "Time" %></th>
	  <th><%= sortable "client_groups.title", "Client Group" %></th>
	  <th><%= sortable "course_events.teacher_id", "Teacher" %></th>
	  <th><%= sortable "courses.id", "Course" %></th>
	  <th colspan="2">Attendees</th>
	  <th></th>
	</tr>	
</thead>

<tbody>
	<% @course_events.each do |course_event| %>
	<tr>
	    <td><%= check_box_tag "course_event_ids[]", course_event.id %></td>
		<td><%= course_event.event_date.strftime('%m/%d/%Y') %></td>
		<td><%= course_event.event_date.strftime('%I:%M%p') %></td>
		<td><%= course_event.course.client_group.title %></td>
		<td><%= content_tag :span, course_event.teacher.full_name, :class => "label btn-block", :style => "background-color:##{course_event.teacher.color};color:black;" %></td>
		<td><%= link_to raw("ID: #{course_event.course.id}"), "/admin/course/#{course_event.course.id}/edit", :target => "_blank", :class => "btn btn-mini"%> <%= "#{course_event.course.default_title}" %>
		<td>
		    <%= content_tag :b, "#{course_event.registrants.length}", :class => course_event.registrants.length == 0 ? "text-error" : "text-success" %>
		</td>
		<td><%= link_to raw("<i class='icon-th-list'></i> Roster"), [:scheduler, course_event], :class => "btn btn-small"%></td>
		<td nowrap><%#= render 'admin/shared/record_actions', :model_class => model_class, :instance => record %></td>
	</tr>	
	<% end %>
</tbody>	

	
</table>
<% end %>