<div class="page-header"><%= content_tag :h1, "Add Registration to '#{@course_event.event_date.strftime('%m/%d/%Y %I:%M%p')}'" %></div>

<%= render 'member_header', section: "registration" %>

<%= form_for @course_event, :url => create_registration_scheduler_course_event_path(@course_event), :html => { :class => "form-horizontal", :method => :put } do |f| %>
    <%= f.fields_for :course_registrations, @course_event.course_registrations.build(:course_id => @course_event.course_id) do |registration| %>
        <%= registration.hidden_field :course_id, :value => registration.object.course_id %>
        <div class="control-group">
            <%= registration.label :user_id, "Select user", :class => "control-label" %>
            <div class="controls">
                <%= registration.select :user_id, options_for_select(@course_event.client_group.users.order(:first_name).collect { |u| [u.full_name, u.id]}) %>
                <%= link_to raw("<i class='icon-user'></i> Add a New User"), registration_user_scheduler_course_event_path(@course_event), :class => "btn" %>
            </div>
        </div>
        
        <div class="control-group">
            <%= registration.label :paid, "Amount Paid", :class => "control-label" %>
            <div class="controls">
                <%= registration.text_field :paid, :class => "span2", :value => @course_event.course.price %>
            </div>
        </div>  
        
        <div class="control-group">
            <%= registration.label :registration_type, :class => "control-label" %>
            <div class="controls">
                <%= registration.select :registration_type, options_for_select(['cash', 'check']), {}, :class => "span2" %>
            </div>
        </div>
        
    <% end %>
    
    <div class="form-actions">
        <%= f.submit "Add Registration", :class => "btn btn-primary" %>
    </div>
<% end %>