<div class="page-header"><%= content_tag :h1, "Class Details '#{@course_event.event_date.strftime('%m/%d/%Y %I:%M%p')}'" %></div>

<ul class="breadcrumb">
	<li><%= link_to "Dashboard", scheduler_root_path %> <span class="divider">/</span></li>
	<li><%= link_to "Class Lists", scheduler_course_events_path %> <span class="divider">/</span></li>
	<li><%= "#{@course_event.event_date.strftime('%m/%d/%Y %I:%M%p')}" %></li>
</ul>

<ul class="nav nav-tabs">
	<li class="active"><%= link_to raw("<i class='icon-th-list'></i> List"), "" %></li>
	<%= content_tag :li, link_to(raw("<i class='icon-plus'></i> Walk-in"), walkin_scheduler_course_event_path(@course_event)) %>

</ul>


<%= form_for [:scheduler, @course_event], :html => {:class => "form-inline"} do |f| %>

<div class="well">
<dl class="dl-horizontal">
    <dt>Scheduled Teacher:</dt>
    <dd><%= @course_event.course.teacher.full_name %> <%= link_to "Change", "#", :class => 'btn btn-mini div-toggle', :data => { :target => "course_substitute" } %>
        <div id="course_substitute" style="margin-top:10px;display:none;">
        Substitute: <%= f.select :teacher_id, Teacher.all.collect { |t| [t.full_name, t.id] } %><%= link_to "cancel", "#", :class => 'btn btn-mini btn-danger div-toggle', :data => { :target => "course_substitute" } %>
        </div>
    </dd>
    <% if @course_event.course.teacher_id != @course_event.teacher_id %>
        <dt>Actual Teacher:</dt>
        <dd><%= @course_event.teacher.full_name %></dd>
    <% end %>
    <dt>Client:</dt>
    <dd><%= @course_event.course.client_group.title %></dd>
    <dt>Location:</dt>
    <dd><%= @course_event.course.address.html_safe %></dd>
</dl>    
</div>
<!-- -->

<table class="table">
    <thead>
        <tr>
            <th>Registrant</th>
            <th>Registration Type</th>
            <th>Paid</th>
            <th>Attended</th>
        </tr>
    </thead>
    
    <tbody>
        <% @course_event.registrants.each do |registrant| %>
            <%= render 'registrant', :registrant => registrant, :f => f %>            
        <% end %>
    </tbody>
</table>   

<div class="form-actions">
    <%= f.submit "Update Class", :class => "btn btn-primary" %>
</div>                 
<% end %>