<div class="page-header"><%= content_tag :h1, "Add Walk-in to '#{@course_event.event_date.strftime('%m/%d/%Y %I:%M%p')}'" %></div>

<ul class="breadcrumb">
	<li><%= link_to "Dashboard", scheduler_root_path %> <span class="divider">/</span></li>
	<li><%= link_to "Class Lists", scheduler_course_events_path %> <span class="divider">/</span></li>
	<li><%= link_to "#{@course_event.event_date.strftime('%m/%d/%Y %I:%M%p')}", [:scheduler, @course_event] %> <span class="divider">/</span></li>
	<li>Walk-in (invite new user)</li>
</ul>

<%= error_messages_for(@user) %>

<%= form_for @user, :url => create_walkin_user_scheduler_course_event_path(@course_event), :html => { :class => "form-horizontal" } do |f| %>
    <%= f.hidden_field :client_group_id %>
    
    <div class="control-group">
        <%= f.label :first_name, :class => "control-label" %>
        <div class="controls">
            <%= f.text_field :first_name %>
        </div>
    </div>
    <div class="control-group">
        <%= f.label :last_name, :class => "control-label" %>
        <div class="controls">
            <%= f.text_field :last_name %>
        </div>
    </div>
    <div class="control-group">
        <%= f.label :email, :class => "control-label" %>
        <div class="controls">
            <%= f.text_field :email %>
        </div>
    </div>
    
    <%= f.fields_for :walkins, Walkin.new(:course_event_id => @course_event.id, :attendable_type => "User") do |attendance| %>
        <%= attendance.hidden_field :course_event_id, :value => attendance.object.course_event_id %>
        <%= attendance.hidden_field :attendable_type, :value => attendance.object.attendable_type %>  
        <div class="control-group">
            <%= attendance.label :paid, "Amount Paid", :class => "control-label" %>
            <div class="controls">
                <%= attendance.text_field :paid, :class => "span2" %>
            </div>
        </div>
        <div class="control-group">
            <%= attendance.label :payment_type, :class => "control-label" %>
            <div class="controls">
                <%= attendance.select :payment_type, options_for_select(['cash', 'check', 'paypal']), {}, :class => "span2" %>
            </div>
        </div>            
    <% end %>
    
    <div class="form-actions">
        <%= f.submit "Add Walk-in", :class => "btn btn-primary" %>
    </div>
<% end %>