<div class="well">
<ul class="nav nav-list">
    <li class="nav-header">Scheduling</li>
    <li><%= link_to raw("<i class='icon-calendar'></i> Calendar"), scheduler_root_path %></li>
    <li><%= link_to raw("<i class='icon-print'></i> Calendar (Print Version)"), scheduler_root_path(:print => true) %></li>
    <li><%= link_to unscheduled_scheduler_courses_path do %>
			<i class='icon-calendar-empty'></i> Unscheduled Courses <%= content_tag :span, Course.unscheduled.length, :class => "badge" %>
			<% end if current_admin.admin? %></li>
	  <li><%= link_to remind_scheduler_courses_path do %>
				<i class='icon-calendar-empty'></i> Schedule Ongoing Series <%= content_tag :span, Course.remind.length, :class => "badge" %>
				<% end if current_admin.admin? %></li>	
    <li><%= link_to raw("<i class='icon-list'></i> Class List"), scheduler_course_events_path %></li>
    <li><%= link_to raw("<i class='icon-list'></i> Course List"), scheduler_courses_path %></li>
    
    <!-- 
    <li class="nav-header">Attendance</li>
    <li><%#= link_to "Registrant Lists", scheduler_course_registrations_path %></li>
    -->
    
    <li class="nav-header">Accounting & Payroll</li>
    <%= content_tag :li, link_to(raw("<i class='icon-money'></i> Pay Outs"), unpaid_scheduler_pay_outs_path) %>
    <%= content_tag :li, link_to(raw("<i class='icon-archive'></i> Archive"), scheduler_pay_outs_path) %>
    
    <li class="nav-header">Reporting</li>
    <%= content_tag :li, link_to(raw("<i class='icon-bar-chart'></i> Course Analysis"), scheduler_course_analysis_path) if current_admin.admin? %>
    
    
</ul>   
</div> 