<%= content_for :stylesheets do %>
<style type="text/css">
p {
	margin: 0;
}
</style>
<% end %>

<% content_for :sidebar do %><%= raw @sidebar.text %><% end %>


<% content_for :body do %>

<h1 class="lefttab">Current Events</h1>

<div id="cartWin" class="events_list">
<% @events.each do |event| %>
    <%= content_tag :h3, event.title %>
    <%= image_tag event.image.url(:thumb), :class => "img-rounded" if event.image.present? %>
    <%= content_tag :strong, event.datetimestring unless event.datetimestring.nil? %>
    <br>
    <%= event.description.html_safe %>
    <hr style="clear:both;">
<% end %>  
</div>  
<% end %>