
<h2>Billing Address</h2>

<%= error_messages_for(@cart) %>

<%= form_for @cart, :url => update_checkout_cart_path(@cart), :html => { :method => :put, :class => 'form-horizontal'} do |f| %>
<%= hidden_field_tag :stage, @stage %>

<% if @cart.user.addresses.empty? || params[:new_billing].present? %>

  <%= f.fields_for(:billing_address) do |billing_address| %>
    <%= render 'addresses/fields', f: billing_address %>
  <% end %>

<% else %>

  <div class="control-group">
    <%= content_tag :p, "Select a billing address from your address book or enter a new address.", :class => "help-block" %><br>
    <%= f.label :billing_address_id, :class => "control-label" %>
  	<div class="controls">
  		<%= f.select :billing_address_id, @cart.user.addresses.order('created_at desc').collect { |address| ["#{address.address_1}, #{address.city} #{address.state}, #{address.postal_code}", address.id] } %> &nbsp; &nbsp; <%= link_to "Add a new address", checkout_cart_path(@cart, :stage => "billing", :new_billing => true) %>
  	</div>
  </div>
  
<% end %>

<div class="control-group">
  <%= f.label :ship_to_billing, "Ship to this address?", :class => "control-label" %>
	<div class="controls">
		<%= f.check_box :ship_to_billing %>
	</div>
</div>

<% if params[:new_billing].present? %>
<div class="control-group">
	<div class="controls">
		<%= link_to "Cancel", :back, :class => "btn btn-mini btn-danger" %>
	</div>
</div>
<% end %>

  
  
  <div class="form-actions"><%= f.submit "Continue", :class => "btn btn-primary" %></div>
<% end %>  