<table class="table">
  <thead>
    <tr>
			<th>Sku</th>
      <th>Product</th>
      <th style="text-align:right;">Price</th>
      <th style="text-align:center;">Qty</th>
      <th style="text-align:right;">Total</th>
    </tr>
  </thead>
  
  <tbody>
    <% @cart.line_items.each do |line_item| %>
			<% if line_item.line_itemable.nil? %>
  			<tr>
				  <td><%= line_item.line_itemable_id %></td>
  			  <td><span class="label">Course Removed</span></td>
  			  <td style="text-align:right;"><%= number_to_currency(line_item.unit_price) %></td>
  			  <td style="text-align:center;"><%= line_item.qty %></td>
  			  <td style="text-align:right;"><%= number_to_currency(line_item.unit_price * line_item.qty) %></td>
  			</tr>
			<% else %>
    		<tr>
				  <td><%= line_item.line_itemable.id %></td>
    		  <td><%= line_item.line_itemable.line_item_title %></td>
    		  <td style="text-align:right;"><%= number_to_currency(line_item.unit_price) %></td>
    		  <td style="text-align:center;"><%= line_item.qty %></td>
    		  <td style="text-align:right;"><%= number_to_currency(line_item.unit_price * line_item.qty) %></td>
    		</tr>  
			<% end %>
    <% end %>
		
    <% @cart.promo_codes.each do |promo| %>
      <tr>
				<td><%= "#{promo.code}" %></td>
        <td><%= "#{promo.description}" %></td>
        <td style="text-align:right;"></td>
        <td style="text-align:center;"></td>
        <td style="text-align:right;" nowrap>- <%= number_to_currency(promo.amount) %></td>
      </tr>  
    <% end %>
    
  </tbody>      
  
  <tfoot>
  <tr>  
    <td colspan="4" style="text-align:right;"><b>Subtotal</b></td>
    <td style="text-align:right;"><%= %><%= number_to_currency(@cart.subtotal) %></td>
  </tr> 

  
  <tr>
    <td colspan="4" style="text-align:right;"><b>Sales Tax</b></td>
    <td style="text-align:right;"><%= number_to_currency(@cart.sales_tax) %></td>
  </tr>
  
	<!-- 
  <tr>
    <td colspan="3" style="text-align:right;"><b>Shipping <%#= "(#{UpsShipping::SERVICES[@cart.selected_shipping_array.split(',')[0]]})" %></b></td>
    <td style="text-align:right;"><%#= number_to_currency(@cart.selected_shipping_array.split(',')[1]) %></td>
  </tr>  
		-->
  
  <tr>
    <td colspan="4" style="text-align:right;"><b>Total</b></td>
    <td style="text-align:right;"><%= content_tag :strong, number_to_currency(@cart.grand_total) %></td>
  </tr>
    
  </tfoot>
  
</table>