<h2>Liability Waiver</h2>

<div class="well">
	<p>Please complete the Liability Waiver below.  If applicable, you will be prompted to complete forms for additional registrants.</p>
	<% if @cart.multiple_registrants? %>
		<h4>Current Progress</h4>
		<ul>
			<li><%= @cart.user.full_name %> <%= @cart.user_waiver.present? && @cart.user_waiver.valid? ? link_to(raw("<i class='icon-check text-success'></i>"), cart_waiver_path(@cart, @cart.user_waiver), target: "_blank") : raw("<i class='icon-edit text-error'></i>") %></li>
			<% @cart.non_users.each do |non_user| %>
				<li><%= non_user.name %> <%= non_user.waiver.present? && non_user.waiver.valid? ? link_to(raw("<i class='icon-check text-success'></i>"), cart_waiver_path(@cart, non_user.waiver), target: "_blank") : raw("<i class='icon-edit text-error'></i>") %></li>
			<% end %>
		</ul>
	<% end %>
</div>





<%= error_messages_for(@cart) %>


<div class="waiver-form">
	
	
	<%
	if params[:action] == "update_checkout"
		
		if @waiver.user.present?
			@waiver = @cart.waivers.select{|key| key[:user_id] == @waiver.user.id}
		elsif @waiver.non_user.present?
			@waiver = @cart.waivers.select{|key| key[:non_user_id] == @waiver.non_user.id }
		end	
		
	end	
	%>
	

<%= form_for @cart, :url => update_checkout_cart_path(@cart), :html => { class: "form-inline", :method => :put} do |f| %>
<%= hidden_field_tag :stage, @stage %>

<% unless @waiver.nil? %>
<%= f.fields_for :waivers, @waiver do |waiver| %>

	<%= render '/waivers/form', waiver: waiver %>

<% end %>
<% end %>


<div class="form-actions">
  <%= f.submit "Continue", :class => "btn btn-large btn-primary" %>
</div>  

<% end %>

</div>