
<% content_for :body do %>
<h1 class="lefttab" id="cartS">Your Shopping Cart</h1><br>

<p>All online orders and class registrations are processed through our checkout system.  When ready, press the "Proceed to Checkout" button below to proceed to registration details and/or order information.</p>

<div id="cartWin">
  

<% unless @cart.nil? %>

<%= error_messages_for(@cart) %>

<%= render 'line_items' %>

<br style="clear:both;"><br><br>

<%= render 'subtotals' %>
   

<%= form_for @cart, :html => { :class => 'form-inline' } do |f| %>    
<table class="table">  
  <tbody>
    <tr>
      <td colspan="2" style="text-align:right;">
        <%= content_tag :p, "Enter a promo or discount code here", :class => "help-block" %>
        <%= f.fields_for :cart_promo_codes, @cart.cart_promo_codes.build do |new_promo| %>
        <%= new_promo.label :add_promo %> <%= new_promo.text_field :add_promo, :style => "width:60px;" %>
        <% end %>
        <%= f.submit "Update", :class => "btn" %></td>
    </tr>
 </tbody>  
</table>
<% end %>   
  

<br>
<%= form_for @cart, :html => { :class => 'form-inline' } do |f| %>
<%= content_tag :p, raw("<strong>Note:</strong> Residents of some states may be subject to sales tax."), :class => "help-block pull-left" %>
<%= f.button "Proceed to Checkout", :name => :checkout, :value => true, :class => "btn btn-large btn-success pull-right" %>
<% end %>
<br style="clear:both;"


<% end %>


</div>

<% end %>