<% content_for :sidebar do %><%= raw @sidebar.text %><% end %>

<% content_for :body do %>

<style type="text/css">
#cartWin p {
    font-size: 83%;
    line-height: 130%;
}
</style>

<h1 class="lefttab">Teachers</h1>

<%= @body.text.html_safe %>

<div id="cartWin" class="events_list">
<% @teachers.each do |teacher| %>
<div class="row">
    <div class="col-md-4">
        <%= image_tag teacher.photo_url, class: "img-responsive" if teacher.photo.present? %>
    </div>
    <div class="col-md-8">
        <%= content_tag :strong, teacher.full_name %><br>
        <%= teacher.bio.html_safe %>
    </div>    
</div>    
    <hr style="clear:both;">
<% end %>  
</div>
<% end %>