<%= f.hidden_field :user_id, :value => current_user.id %>

<div class="control-group">
  <%= f.label :address_1, :class => "control-label" %>
	<div class="controls">
		<%= f.text_field :address_1 %>
	</div>
</div>

<div class="control-group">
  <%= f.label :address_2, :class => "control-label" %>
	<div class="controls">
		<%= f.text_field :address_2 %>
	</div>
</div>

<div class="control-group">
  <%= f.label :city, :class => "control-label" %>
	<div class="controls">
		<%= f.text_field :city %>
	</div>
</div>

<div class="control-group">
  <%= f.label :state, :class => "control-label" %>
	<div class="controls">
		<%= f.select :state, us_states, { :prompt => "-- select state --" } %>
	</div>
</div>

<div class="control-group">
  <%= f.label :postal_code, :class => "control-label" %>
	<div class="controls">
		<%= f.text_field :postal_code %>
	</div>
</div>

