<tr>
	<td><%= course.start_date.strftime('%m/%d/%Y') %></td>
	<td><%= course.end_date.strftime('%m/%d/%Y') %></td>
	<td><%= course.client_group.title %></td>
	<td><%= content_tag :span, course.teacher.full_name, :class => "label btn-block", :style => "background-color:##{course.teacher.color};color:black;" %></td>
	<td><span class="label">ID: <%= course.id %></span> <%= "#{course.default_title}" %></td>
	<td nowrap>
		<%= content_tag :b, (course.end_date - 3.weeks).strftime('%m/%d/%Y')%>
		
		<%#= link_to raw("<i class='icon-edit'></i> Schedule"), "/admin/course/new", :class => "btn btn-small", :target => "_blank"%></td>
		
	<td>
		<% next_course = course.client_group.courses.where('start_date > ?', course.end_date).order(:start_date).first %>
		<% if next_course.present? %>
			<span class="label">ID: <%= next_course.id %></span> <%= "#{next_course.start_date.strftime('%m/%d/%Y')}" %>
		<% else %>
		<%= content_tag :span, "unscheduled", :class => "text-error"%>
		<% end %>
	</td>		
</tr>