<div class="page-header"><%= content_tag :h1, "Edit Courses" %></div>

<ul class="breadcrumb">
	<li><%= link_to "Dashboard", scheduler_root_path %></li>
	<li><%= link_to "Unscheduled Courses", unscheduled_scheduler_courses_path %></li>
	<li><%= @course.id %></li>
	<li>Edit</li>
</ul>

<ul class="nav nav-tabs">
    <li class="active"><%= link_to raw("<i class='fa fa-edit'></i> Edit"), edit_scheduler_course_path(@course) %></li>
	<li><%= link_to raw("<i class='fa fa-list'></i> List"), unscheduled_scheduler_courses_path %></li>
</ul>

<%= form_for [:scheduler, @course], :html => {:class => "form-inline"} do |f| %>
    <table class="table" id="course_events_table">
        <thead>
            <tr>
                <th>Date Time</th>
                <th>Teacher</th>
                <th>Pay Out</th>
                <th><span class="text-error">Remove</span></th>
            </tr>
        </thead>
        <tbody>
            <% if @course.course_events.empty? %>
            <% 
            from = @course.start_date
            to = @course.end_date
            $tmp_date = from
            tmp_index = 0
            %>  
            <% begin %>
                <%= f.fields_for :course_events, @course.course_events.new(:event_date => "#{$tmp_date} #{@course.start_time}", :teacher_id => @course.teacher_id, :teacher_pay_out => @course.teacher_rate) do |builder| %>
                    <%= render 'course_event', :f => builder %>
                <% end %>
                <%
                if @course.frequency == 'daily'
                    $tmp_date += 1.day
                else    
                    $tmp_date += 1.week
                end
                tmp_index += 1 
                %>
            <% end while $tmp_date <= to %>
            
            <% elsif params[:reset] == "true" %>
            
                <% 
                from = @course.start_date
                to = @course.end_date
                $tmp_date = from
                tmp_index = 0
                %>
                
                <% @course.course_events.order(:event_date).each do |course_event| %>
                    <%= f.fields_for :course_events, course_event do |builder| %>
                        <% 
                        builder.object.event_date = "#{$tmp_date} #{@course.start_time}" 
                        builder.object.teacher_id = @course.teacher_id 
                        builder.object.teacher_pay_out = @course.teacher_rate
                        %>
                        <%= render 'course_event', :f => builder %>
                    <% end %>
                <%
                if @course.frequency == 'daily'
                    $tmp_date += 1.day
				        elsif @course.frequency == 'weekly'
				            $tmp_date += 1.week
				        elsif @course.frequency == 'monthly'
				            $tmp_date += 4.weeks
                end
                tmp_index += 1 
                %>
                <% end %>
                
                <% if $tmp_date < to %>
                    <% begin %>
                        <%= f.fields_for :course_events, @course.course_events.new(:event_date => "#{$tmp_date} #{@course.start_time}", :teacher_id => @course.teacher_id, :teacher_pay_out => @course.teacher_rate) do |builder| %>
                            <%= render 'course_event', :f => builder %>
                        <% end %>
                        <%
                        if @course.frequency == 'daily'
                            $tmp_date += 1.day
								        elsif @course.frequency == 'weekly'
								            $tmp_date += 1.week
								        elsif @course.frequency == 'monthly'
								            $tmp_date += 4.weeks
                        end
                        tmp_index += 1 
                        %>
                    <% end while $tmp_date <= to %>
            
                <% end %>
            <% else %>
                <%= f.fields_for :course_events do |builder| %>
                    <%= render 'course_event', :f => builder %>
                <% end %>
            <% end %> 
        </tbody>  
        
        <tfoot>
            <tr>
                <td colspan="4"><%= link_to_add_course_event("Add Date", f, :course_events) %></td>
            </tr>    
        </tfoot>
                  
    </table>
<div class="form-actions">
    <%= f.submit "Update Schedule", :class => "btn btn-primary" %>
    <%= link_to "Reset Schedule", edit_scheduler_course_path(@course, :reset => true), :class => "btn btn-danger" unless @course.course_events.empty? %>
</div>   
<% end %>    