<%= javascript_include_tag 'ckeditor/init' %>

<ul class="nav nav-tabs">
	<% PagePart.all.each do |pp| %>
	<%= content_tag :li, link_to(pp.title, "##{pp.title.gsub(' ', '_')}", "data-toggle" => "tab"), :class => pp.id == PagePart.first.id ? "active" : nil %>
	<% end %>
</ul>

<div id="myTabContent" class="tab-content">
	<% PagePart.all.each do |pp| %>
		<%= content_tag :div, :id => pp.title.gsub(' ', '_'), :class => pp.id == PagePart.first.id ? "tab-pane fade in active" : "tab-pane fade" do %>
			<% has_section = form.object.page_part_placements.find_by_page_part_id(pp.id) %>
			<% if !has_section.nil? %>
				<%= form.fields_for(:page_part_placements, has_section) do |builder| %>
					<%= render 'page_part', :f => builder, :pp => pp %>
				<% end %>	
			<% else %>

				<% 
					new_object = form.object.send(:page_part_placements).klass.new
		  		id = new_object.object_id
				%>
				<%= form.fields_for(:page_part_placements, new_object, child_index: id) do |builder| %>
					<%= builder.hidden_field :page_part_id, :value => pp.id %>
					<%= render 'page_part', :f => builder, :pp => pp %>
				<% end %>	
			<% end %>
		
		<% end %>
  <% end %>
</div>