<% instance = instance_variable_get("@#{model_class.model_name.tableize.singularize}") %>

<%= error_messages_for(instance) %>
<%= form_for [:admin, instance], :html => { :class => 'form-horizontal' } do |f| %>

<% model_class::FORM_COLUMNS.each do |column| %>
	<%= render "admin/shared/form_fields/#{column[1]}", f: f, column: column[0] %>
<% end %>

<div class="form-actions">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to "Cancel",
              eval("admin_#{model_class.model_name.tableize}_path"), :class => 'btn' %>
</div>

<% end %>