<% 
tabled = model_class.model_name.tableize 
%>

<div class="page-header"><%= content_tag :h1, model_class.model_name.human.pluralize %></div>

<ul class="breadcrumb">
	<li><%= link_to "Dashboard", admin_root_path %> <span class="divider">/</span></li>
	<li><%= link_to model_class.model_name.human.pluralize, eval("admin_#{tabled}_path") %></li>
</ul>	

<ul class="nav nav-tabs">
	<li class="active"><%= link_to raw("<i class='icon-th-list'></i> List"), eval("admin_#{tabled}_path") %></li>
	<li><%= link_to raw("<i class='icon-plus'></i> New"), eval("new_admin_#{tabled.singularize}_path") %></li>
	<% unless defined?(no_filter) && no_filter == true %>
	<li class="dropdown pull-right">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#"> Add Filter <b class="caret"></b></a>
	<ul class="dropdown-menu">
		<% model_class.columns.each do |column| %>
		<li><%= link_to_filter_attribute(column) %></li>
		<% end %>
	</ul>
	</li>
	<% end %>
</ul>	

<% unless defined?(no_filter) && no_filter == true %>
<%= form_tag eval("admin_#{tabled}_path"), :method => 'get', :class => 'form-inline' do %>
	<div class="well">
		<div id="filter-area">
			<% unless params[:filter].nil? %>
				<% params[:filter].each do |filter| %>
					<%= render 'admin/shared/filter_row', id: filter[0], attribute: filter[1].to_a[0][1], o: filter[1].to_a[1][1], q: filter[1].to_a[2][1] %>
				<% end %>
			<% end %>			
		</div>  <%= content_tag :hr, nil, :id => "filter-break", :style => !params[:filter].nil? ? nil : "display:none;" %>
		<%#= hidden_field_tag :direction, params[:direction] %>
		<%#= hidden_field_tag :sort, params[:sort] %>

		<%= text_field_tag :search, params[:search], :class => "input-medium search-query" %>
		<%= button_tag raw("<i class='icon-refresh'></i> Refresh"), :name => nil, :class => "btn btn-primary" %>
		</div>	
<% end %>
<% end %>