<div class="page-header"><%= content_tag :h1, "Edit #{model_class.model_name.human.downcase.capitalize}" %></div>

<ul class="breadcrumb">
	<li><%= link_to "Dashboard", admin_root_path %> <span class="divider">/</span></li>
	<li><%= link_to model_class.model_name.human.pluralize, eval("admin_#{model_class.model_name.tableize}_path") %> <span class="divider">/</span></li>
	<li><%= link_to instance.id, eval("admin_#{model_class.model_name.tableize.singularize}_path(#{instance.id})") %> <span class="divider">/</span></li>
	<li class="active">Edit</li>
</ul>	

<ul class="nav nav-tabs">
	<% unless defined?(no_show) %>
	<li><%= link_to raw("<i class='icon-info-sign'></i> Show"), eval("admin_#{model_class.model_name.tableize.singularize}_path(#{instance.id})") %></li>
	<% end %>
	<li class="active"><%= link_to raw("<i class='icon-pencil'></i> Edit"), eval("edit_admin_#{model_class.model_name.tableize.singularize}_path(#{instance.id})") %></li>
	<li><%= link_to raw("<i class='icon-remove'></i> Delete"), eval("admin_#{model_class.model_name.tableize.singularize}_path(#{instance.id})"), :method => :delete, :confirm => "Are you sure?" %></li>
</ul>