<!DOCTYPE html>
<html>
<head>
	
  <title><%= "#{@page.page_title} - " rescue nil %> Belightful Yoga Serving Southeast Michigan</title>
	<meta name="description" content="Belightful Yoga is a mobile yoga studio that specializes in yoga for youth, adults, the special needs community, and businesses.  Serving Royal Oak, Birmingham, Troy, Farmington, Farmington Hills, Bloomfield, Bloomfield Hills, Rochester, Novi, Sterling Heights, Ferndale, Warren, Grosse Pointe, St. Clair Shores, Clinton Township, Southfield, Southeastern Michigan and much more." />
    <meta name="keywords" content="yoga, kids, youth, children, teens, special needs, autism, autistic, ADHD, businesses, teachers, schools, Girl Scouts, Boy Scouts, corporations, Royal Oak, Birmingham, Troy, Farmington, Farmington Hills, Bloomfield, Bloomfield Hills, Rochester, Novi, Sterling Heights, Ferndale, Warren, Grosse Pointe, St. Clair Shores, Clinton Township, Southfield, Southeastern Michigan" />
		
  <%= stylesheet_link_tag "application", :media => "all" %>		
  <%= stylesheet_link_tag    "/stylesheets/belightful.css", :media => "all" %>
	<%= stylesheet_link_tag    "#{@page.add_css}", :media => "all" if defined?(@page) && @page.add_css.blank? rescue nil %>
	<%= yield(:stylesheets) %>

  <%= javascript_include_tag "application" %>
	<%= javascript_include_tag "/javascripts/jquery.innerfade.js" %>
	<%= javascript_include_tag "/javascripts/home_rotator.js" %>
	
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div id="top-navigation">
		<div class="container">
			<%= render 'layouts/top_nav' %>
		</div>
	</div>
	

	<div class="container" id="main-container">
		
		<div class="row">
			
			<div class="col-md-8">
				<a href="/"><img src="/images/logo-header.gif" height="210" width="652" border="0" class="center-block" /></a>
				<nav><div id="nav"><%= render 'layouts/nav' %></div></nav>
			</div>
			
			<div class="col-md-4">
			  <div id="home_rotate" class="pull-right hidden-sm">
			      <% if defined?(@top_right_image) && !@top_right_image.text.blank? %>
			        <%= @top_right_image.text.html_safe %>
			      <% else %>
			        <%= image_tag("/images/circle_boutique_01.png", :alt => "Belightful Yoga") %>
			      <% end %>
			  </div>
			</div>
			
		</div>

		<% flash.each do |key, msg| %>
			<% alert_css = key == :alert || key == "alert" || key == :notice || key == "notice" ? "warning" : key %>
	
			<%= content_tag :div, :class => "alert alert-#{alert_css}" do %>
				<i class='fa fa-exclamation-triangle'></i> <%= msg.html_safe %>
			<% end %>
	
		<% end %>

	 	
		<% if content_for(:sidebar).present? && !content_for(:sidebar).blank? %>
	 	<div class="row">
	 		
	 		<div class="col-md-9">
				<div id="body-content">
	 				<%= yield(:body) %>
					<%= yield :hero %>
					<br style="clear:both;">
				</div>
	 		</div>
	 		
	 		<div class="col-md-3">
	 			<% if (!@sidebar.nil? && !@sidebar.text.blank?) || content_for?(:sidebar) %>
	 			<div id="sidebar-content">
	 				<%= yield(:sidebar) %>	
	 			</div>
	 			<% end %>
	 		</div>
	 		
	 	</div>
		<% else %>
			<div id="body-content">
 				<%= yield(:body) %>
 				<%= yield :hero %>
				<br style="clear:both;">
			</div>
		<% end %>
        

		<footer><%= render 'layouts/footer' %></footer>
		<!-- Footer -->

	</div>
	

<!-- Analytics --><script type="text/javascript">var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));</script><script type="text/javascript">try {var pageTracker = _gat._getTracker("UA-13224741-3");pageTracker._trackPageview();} catch(err) {}</script>

</body>
</html>
