<!DOCTYPE html>
<html>
<head>
  <title><%= "#{@page.page_title} - " rescue nil %> Belightful Yoga</title>
	<meta name="description" content="<%= @page.meta_description rescue nil %>" />
	<meta name="keywords" content="<%= @page.meta_keywords rescue nil %>" />

	<%= stylesheet_link_tag    "bootstrap_and_overrides", :media => "all" %>
  <%= stylesheet_link_tag    "/stylesheets/belightful.css", :media => "all" %>
	<%= stylesheet_link_tag    "#{@page.add_css}", :media => "all" unless @page.add_css.blank? rescue nil %>

  <%= javascript_include_tag "jquery" %>
	<%= javascript_include_tag "jquery_ujs" %>
	<%= javascript_include_tag "/javascripts/iepngfix_tilebg.js" %>
	<%= javascript_include_tag "/javascripts/jquery.innerfade.js" %>
	<%= javascript_include_tag "/javascripts/home_rotator.js" %>
	
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="container">
		<header>
		<menu><div id="topNav"><%= render 'layouts/top_nav' %></div></menu>
		<!-- <h1>Belightful Yoga.  Mobile Yoga, we come to U.</h1> -->
		<div id="logo">
			<a href="index.dna"><img src="/images/logo-header.gif" height="210" width="652" border="0" /></a>
			<!-- Navigation -->
			<nav><div id="nav"><%= render 'layouts/nav' %></div></nav>
		    	<!-- Navigation -->    
	  </div>		    	

	  <div id="home_rotate"><%= @top_right_image.text.html_safe rescue nil %></div> 

		<!-- Content -->
		<section><div id="body_content"><%= yield %></div></section>
		<!-- Content -->

		<!-- SideBar -->
		<% if (!@sidebar.nil? && !@sidebar.text.blank?) || content_for?(:sidebar) %>
		<aside><div id="sidebar">
		  <%= yield(:sidebar) %>	
			<%= @sidebar.text.html_safe %>
			</div></aside>
		<% end %>
		<!-- SideBar -->

		<!-- Footer -->
		<footer><%= render 'layouts/footer' %></footer>
		<!-- Footer -->

	</div>
	


</body>
</html>
