<!DOCTYPE html>
<html>
<head>
	
  <title><%= "#{@page.page_title} - " rescue nil %> Belightful Yoga Serving Southeast Michigan</title>
	<meta name="description" content="Belightful Yoga is a mobile yoga studio that specializes in yoga for youth, adults, the special needs community, and businesses.  Serving Royal Oak, Birmingham, Troy, Farmington, Farmington Hills, Bloomfield, Bloomfield Hills, Rochester, Novi, Sterling Heights, Ferndale, Warren, Grosse Pointe, St. Clair Shores, Clinton Township, Southfield, Southeastern Michigan and much more." />
    <meta name="keywords" content="yoga, kids, youth, children, teens, special needs, autism, autistic, ADHD, businesses, teachers, schools, Girl Scouts, Boy Scouts, corporations, Royal Oak, Birmingham, Troy, Farmington, Farmington Hills, Bloomfield, Bloomfield Hills, Rochester, Novi, Sterling Heights, Ferndale, Warren, Grosse Pointe, St. Clair Shores, Clinton Township, Southfield, Southeastern Michigan" />
		
  <%= stylesheet_link_tag "application", :media => "all" %>		
  <%= stylesheet_link_tag    "/stylesheets/belightful.css", :media => "all" %>
	<%= stylesheet_link_tag    "#{@page.add_css}", :media => "all" unless @page.add_css.blank? rescue nil %>
	<%= yield(:stylesheets) %>

  <%= javascript_include_tag "site" %>
	<%= javascript_include_tag "/javascripts/jquery.innerfade.js" %>
	<%= javascript_include_tag "/javascripts/home_rotator.js" %>
	
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="container" class="container">
		<header>
		<menu><div id="topNav"><%= render 'layouts/top_nav' %></div></menu>
		<!-- <h1>Belightful Yoga.  Mobile Yoga, we come to U.</h1> -->
		<div id="logo">
			<a href="/"><img src="/images/logo-header.gif" height="210" width="652" border="0" /></a>
			<!-- Navigation -->
			<nav><div id="nav"><%= render 'layouts/nav' %></div></nav>
		    	<!-- Navigation -->    
	  </div>

	  <div id="home_rotate">
	      <% if !@top_right_image.nil? && ! @top_right_image.text.blank? %>
	        <%= @top_right_image.text.html_safe %>
	      <% else %>
	        <%= image_tag("/images/circle_boutique_01.png", :alt => "Belightful Yoga") %>
	      <% end %>
	  </div> 

        
    	
		<!-- Content -->
		<section><div id="body_content">
		
		    <% flash.each do |key, msg| %>
		        <br>
        		<%= content_tag :div, :class => "alert alert-#{key}", :style => 'color:#000;' do %>
        			<%= msg %>
        		<% end %>
        	<% end %>
		
		<%= yield %>
		<%= render '/layouts/hero' if @page.present? && @page.home? %>
		
		</div></section>
		<!-- Content -->

		<!-- SideBar -->
		<% if (!@sidebar.nil? && !@sidebar.text.blank?) || content_for?(:sidebar) %>
		<aside><div id="sidebar">
		    <%= render '/layouts/social' %>
		    <%= yield(:sidebar) %>	
			<%= @sidebar.text.html_safe rescue nil %>
			</div></aside>
		<% end %>
		<!-- SideBar -->

		<!-- Footer -->
		<footer><%= render 'layouts/footer' %></footer>
		<!-- Footer -->

	</div>
	

<!-- Analytics --><script type="text/javascript">var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));</script><script type="text/javascript">try {var pageTracker = _gat._getTracker("UA-13224741-3");pageTracker._trackPageview();} catch(err) {}</script>

</body>
</html>
